.card {
  border-radius: 5px;
  width: fit-content;
  border: 1px solid #c7c6c6;
}

.content {
  padding: 1rem;
}

.titleContainer {
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  margin-top: 0.80rem;
  display: flex;
  flex-direction: column;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #c7c6c6;
}

.titleText {
  margin-left: 0.80rem;
  margin-bottom: 0.80rem;
}