.container {
    position: absolute;
    height: 100vh;
    width: 230px;
    background-color: gold;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 0.5rem;
}

.active {
  background-color: orange;
  border-radius: 5px;
  padding: 4px;
}

.notActive {
  padding: 4px;
}